.section__title
  %h1 /新規登録/
.account-page
  .account-page__inner
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        .field__name
          = f.label :名前
          %br/
          = f.text_field :name, autofocus: true
        .field__email
          = f.label :メールアドレス
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field__password
          = f.label :パスワード
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} 文字以上)
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .field__password__confirmation
          = f.label :パスワード（確認用）
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"
      .actions
        = f.submit "新規登録"
      = render "devise/shared/links"
