.section__title
  %h1 /パスワードの変更/
.account-page
  .account-page__inner
  %h2 パスワードを変更します
  = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = render "devise/shared/error_messages", resource: resource
    = f.hidden_field :reset_password_token
    .field
      = f.label :password, "新しいパスワード"
      %br/
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} 文字以上)
        %br/
      = f.password_field :password, autofocus: true, autocomplete: "new-password"
    .field
      = f.label :password_confirmation, "パスワードを確認する"
      %br/
      = f.password_field :password_confirmation, autocomplete: "new-password"
    .actions
      = f.submit "パスワードを変更する"
  = render "devise/shared/links"
