.section__title
  %h1 /記事の編集/
.section__contents

  .form
    = form_for @post, local: true do |f|
      .form__top
        = f.text_field :title, placeholder: :タイトル, class: :form__top__title
        = f.label :image, class: 'form__top__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.label :tag_list
      = f.text_field :tag_list, value: @post.tag_list.join(','),placeholder: :国、地域, class: :form__tag
      = f.text_area :content, placeholder: :本文, class: :form__content
      = f.submit "編集する", class: :send__btn