
.wrapper
  .header
    .header__logo
      = link_to "NewsGlobe", root_path
    .header__right
      .header__right__create
        = link_to "新規投稿", new_post_path, class: "create-btn"
      .header__right__signup
        = link_to "新規登録", new_user_registration_path, class: "signup-btn"
      .header__right__login
        = link_to "ログイン", new_user_session_path, class: "login-btn"
  .body
    .main
      .section
        .section__title
          %h1 /Latest News/
        .section__contents
          - @posts.each do |post|
            .section__contents__content
              .section__contents__content__image
                = post.image
              .section__contents__content__text
                .section__contents__content__text__category
                  = post.created_at
                .section__contents__content__text__headline
                  = link_to post.title, post_path(post.id), class: "article__headline"