.section__title
  %h1 /Article/
.section__contents
  .article
    .article__upper
      .article__upper__title
        = @post.title
      .article__upper__items
        - if user_signed_in? && current_user.id == @post.user_id
          .article__upper__items__edit
            = link_to "編集", edit_post_path(@post.id), class: "edit-btn"
          .article__upper__items__delete
            = link_to "削除", post_path(@post.id), method: :delete, class: "delete-btn"
      .article__upper__writer
        By 
        = @post.user.name
    .article__lower
      .article__lower__image
        - if @post.image?
          = image_tag @post.image.url
        - else
          = image_tag "noimage.gif"
      .article__lower__content
        = simple_format @post.content
    -# .comment
    -#   .form
    -#     - if current_user
    -#       = form_for @comment, local: true do |f|
    -#         = f.text_area :text, placeholder: "コメントする", rows: "2"
    -#         = f.submit "送信"
    -#     - else
    -#       %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
    -#   .comments
    -#     %h4 コメント一覧
    -#     - if @comments
    -#       - @comments.each do |comment|
    -#         %p
    -#           = comment.text
